main {
    height: 100vh;
    padding-top: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-image: url('../img/mainImage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    section {
        width: 25%;
        height: 100%;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            font-family: $captionFont;
            font-size: 3rem;
            color: #fff;

            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }
    }
}