@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins&family=Satisfy&display=swap');


// fonts
$mainFont: 'Satisfy', 'cursive';
$captionFont: 'Paytone One', sans-serif;
$textFont: 'Poppins', sans-serif;

// colors
$mainColor: #EBCFB8;
$secondColor: #74554D;
$thirdColor: #313131;
$fourthColor: #FFFFFF;
$fivethColor: #000000;